<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Common Category"
            id="my.finance.views">
      </category>
      <view
            id="my.finance.views.views.IncomesView"
            name="Доходы"
            icon="icons/sample.png"
            class="my.finance.views.views.IncomesView"
            category="my.finance.views"
            inject="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
