<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="My Finances"
            id="my.finances.app.ui.views">
      </category>
      <view
            allowMultiple="false"
            category="my.finances.app.ui.views"
            class="my.finances.app.ui.views.views.PeriodsView"
            icon="icons/sample.png"
            id="my.finances.app.ui.views.views.PeriodsView"
            inject="true"
            name="%Periods">
      </view>
      <view
            allowMultiple="false"
            category="my.finances.app.ui.views"
            class="my.finances.app.ui.views.views.OutcomesView"
            icon="icons/sample.png"
            id="my.finances.app.ui.views.views.OutcomesView"
            name="%Outcomes"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="my.finances.app.ui.views"
            class="my.finances.app.ui.views.views.IncomesView"
            icon="icons/sample.png"
            id="my.finances.app.ui.views.views.IncomesView"
            name="%Incomes"
            restorable="true">
      </view>
      <view
            category="my.finances.app.ui.views"
            class="my.finances.app.ui.views.views.BalancesView"
            icon="icons/sample.png"
            id="my.finances.app.ui.views.views.BalancesView"
            name="%Balances"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="my.finances.app.ui.perspectives.templates">
         <view
               id="my.finances.app.ui.views.views.PeriodsView"
               minimized="false"
               ratio="0.05"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.IncomesView"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="bottom"
               relative="my.finances.app.ui.views.views.PeriodsView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.OutcomesView"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="my.finances.app.ui.views.views.IncomesView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="my.finances.app.ui.perspectives.incomes">
         <view
               id="my.finances.app.ui.views.views.PeriodsView"
               minimized="false"
               ratio="0.05"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.IncomesView"
               minimized="false"
               moveable="true"
               relationship="bottom"
               relative="my.finances.app.ui.views.views.PeriodsView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="my.finances.app.ui.perspectives.outcomes">
         <view
               id="my.finances.app.ui.views.views.PeriodsView"
               minimized="false"
               ratio="0.05"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.OutcomesView"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="bottom"
               relative="my.finances.app.ui.views.views.PeriodsView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="my.finances.app.ui.perspectives.summary">
         <view
               id="my.finances.app.ui.views.views.PeriodsView"
               minimized="false"
               ratio="0.05"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.BalancesView"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="my.finances.app.ui.views.views.OutcomesView"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.IncomesView"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="bottom"
               relative="my.finances.app.ui.views.views.PeriodsView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.OutcomesView"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="my.finances.app.ui.views.views.IncomesView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="my.finances.app.ui.perspectives.flex">
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.BalancesView"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="my.finances.app.ui.views.views.OutcomesView"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.IncomesView"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="my.finances.app.ui.views.views.OutcomesView"
               minimized="false"
               moveable="false"
               ratio="0.5"
               relationship="right"
               relative="my.finances.app.ui.views.views.IncomesView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
